.App {
  text-align: center;
  padding: 20px 0 50px 0px;
}

.formControl {
  margin: 10px 0 30px 0;
}

.app__form {
  padding: 10px 20px;
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0;
  background-color: #e9e9eb;
  display: flex !important;
  z-index: 1;
}

.app_formcontrol {
  margin: 10px 30px;
  padding: 0 20px !important;
  flex-direction: row !important;
  display: flex !important;
  width: 100% !important;
}

.app__input {
  flex: 1 !important;
}
.app__button {
  flex: 0 !important;
}
